body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #1b1a1a;
    background-image: url("../assets/background\ 1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #353030;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.logo img {
    height: 40px;
}

.search-bar input {
    width: 300px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 20px;
}

.auth-links a {
    margin-left: 20px;
    text-decoration: none;
    color: #333;
}
.button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 0;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #4CAF50;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #45a049;
}


main {
    padding: 20px;
    text-align: center;
}

.filters {
    margin: 20px 0;
}

.filters button {
    margin: 5px;
    padding: 10px 20px;
    border: none;
    background-color: #e0e0e0;
    border-radius: 20px;
    cursor: pointer;
}

.filters button:hover {
    background-color: #d0d0d0;
}

.recipes-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.recipe-card {
    width: 200px;
    background-color: #fff;
    margin: 10px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
}

.recipe-card:hover {
    transform: scale(1.1); /* This enlarges the card by 10% */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Enhances the shadow to give a more pronounced effect */
}
.recipe-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.recipe-info {
    padding: 10px;
}

.recipe-info h2 {
    font-size: 16px;
    margin: 10px 0;
}

.recipe-info p {
    color: #777;
    margin: 5px 0;
}

.recipe-meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.recipe-meta span {
    display: inline-block;
}

.recipe-card.selected {
    border: 3px solid #4CAF50;
}
#results {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#results div {
    width: 200px;
    background-color: #fff;
    margin: 10px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#results img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

#results h3 {
    font-size: 16px;
    margin: 10px 0;
}

#results ul {
    text-align: left;
    padding: 10px;
}

#results a {
    display: block;
    margin: 10px 0;
    color: #4CAF50;
    text-decoration: none;
}

