body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: antiquewhite;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
    color: white;
}

.navbar .logo {
    display: flex;
    align-items: center;
}

.navbar img {
    width: 100px;
    height: 100px;
    margin-right: 10px;
}

.navbar .nav-links {
    display: flex;
    align-items: center;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 0 15px;
}

.navbar a:hover {
    text-decoration: underline;
}

.main-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('./assets/background.jpg');
    background-size: cover;
    background-position: center;
    padding: 20px;
}

.content-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    max-width: 1200px;
}

.recipe-details {
    flex: 1;
}

.recipe-container {
    display: flex;
    align-items: center;
}

.recipe {
    text-align: center;
}

.recipe img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

.arrow {
    font-size: 2em;
    cursor: pointer;
    user-select: none;
    margin-left: 20px; /* Adjust as needed */
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.button, .zoom-button {
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    font-size: 1em;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #0056b3;
}

.zoom-button {
    font-size: 1.5em;
    padding: 10px 20px;
    background-color: #28a745;
}

.zoom-button:hover {
    background-color: #218838;
}

.additional-buttons {
    display: none;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}
